.HomeBalance {
    
    &__head {
        margin-bottom: 50px;
    }

    &__dg {
        // height: 100%;
        width: 100%;
        height: 100px;
        // background-color: #fff;

       display: flex;
       align-items: center;
       justify-content: center;
       
        
    }

    &__val {
        padding: 25px 10px;
        text-align: center;
        border-radius: 20px;
        background-color: var(--gray);
        font-size: 25px;
        line-height: 34px;
        font-weight: 600;
    }
    &__list {

    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        &_name {
            width: 50%;
            position: relative;
            padding-left: 24px;
            columns: rgba(#fff, .5);
            
            &:after {
                position: absolute;
                top: calc(50% - 6px);
                left: 0;
                width: 12px;    
                height: 12px;   
                border-radius: 100%;
                content: '';
            }
        }

        &_value {
            width: 48%;
            text-align: right;
            font-size: 20px;
            line-height: 20px;

        }

        &:nth-child(1) {

            .HomeBalance__item_name {
                &::after {
                    background-color: var(--aqua);
                }
            }
        }

        &:nth-child(2) {
            .HomeBalance__item_name {
                &:after {
                    background-color: var(--purp);
                }
            }
        }

        &:nth-child(3) {
            .HomeBalance__item_name {
                &:after {
                    background-color: var(--yellow);
                }
            }
        }

        &:nth-child(4) {
            .HomeBalance__item_name {
                &:after {
                    background-color: brown;
                }
            }
        }
    }

}