.WalletTable {
    // max-width: 710px;
    width: 100%;
    &__table {
        width: 100%;
        border-collapse: collapse;

        th {
            text-align: left;
            font-weight: 400;
            padding: 10px;
            color: rgba(255, 255, 255, 0.5);
            width: calc(100% / 3);
            &:not(:first-child) {
                text-align: center;
            }
        }

        td {
            padding: 15px 10px;
            transition: all .2s ease;
            width: calc(100% / 3);
        }

        tr.WalletTable__table_row {
            td {
                &:first-child {
                    border-radius: 10px 0 0 10px;
                }
                &:last-child {
                    border-radius: 0 10px 10px 0;
                }
            }

            &:hover {
                td {
                    background-color: var(--bg);
                }
            }
        }

        &_row {

        }

        &_item {

        }

        &_type {
            // font-size: 24px;
            // line-height: 28px;
        }

        &_sum {
            &_main {
                font-weight: 600;
                text-align: center;
                span {
                    color: rgba(255, 255, 255, 0.5);
                }
            }

            &_tm {
                text-align: center;
                color: rgba(255, 255, 255, 0.5);
                font-size: 12px;
                line-height: 15px;
                
            }
        }

        &_item {

            &_wallet {
                display: flex;
                // flex-wrap: wrap;

                &_value {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;    
                    max-width: 200px;
                    width: 100%;
                }

                button {
                    opacity: .5;
                    color: #fff;
                    cursor: pointer;
                    font-size: 20px;
                    line-height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 10px;
                    transition: all .3s ease;

                    &:active {
                        transform: scale(0.95);
                    }

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        &_status {
            text-align: center;
            // font-size: 24px;
            // line-height: 28px;
            font-weight: 600;
        }

        &_status-check {
            color: rgba(255, 255, 255, 0.5);
        }
        &_status-done {
            color: var(--aqua);
        }
        &_status-cancel {
            color: var(--red);
        }
    }
}

@media (max-width: 768px) {
    .WalletTable {

        &__table {

            tr {
                display: flex;
                flex-wrap: wrap;
                &:last-child {
                    td {

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
                th {
                    display: none;
                }

                td {
                    text-align: left !important;
                    background-color: var(--bg);

                    &:first-child {
                        border-radius: 10px 10px 0 0 !important; 
                    }
                    &:last-child {
                        border-radius: 0 0 10px 10px !important; 
                        margin-bottom: 10px;
                    }
                    
                }

                &:hover {
                    td {
                        
                    }
                }
            }
            

            &_item {
                width: 100% !important;
            }
            &_sum {
                &_main {
                    text-align: left;
                }
                &_tm {
                    text-align: left;
                }
            }
            
        }
    }
}