.GetCryptoModal {
    
    &__head {
        padding-bottom: 12px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    }

    &__main {
        max-width: 350px;
        width: 100%;
        margin: 0 auto;

        &_info {
            display: flex;
            align-items: center;
            
            color: #fff;
            &_label {
                opacity: .6;
                font-weight: 500;
                // width: 48%;
                margin-right: 10px;
            }

            &_value {
                //text-align: right;
                // width: 50%;

            }
            
        }

        .Input {

            &__label {
                text-align: center;
            }
        }
    }

    &__action {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}