.HomeSale {
    
    &__head {
        color: var(--light_yellow);
        margin-bottom: 20px;
    }

    &__main {

        &_item.light {
            color: #fff;
            span {
                color: var(--light_yellow);
                font-weight: 600;
            }
        }

        &_item {
            color: rgba(255, 255, 255, 0.5);
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            span {
                font-size: 25px;
                line-height: 25px;
                color: #fff;
                margin-left: 10px;
                white-space: nowrap;
            }


            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__action {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        height: 100%;
    }
}

@media (max-width: 767px) {
    .HomeSale {

        &__action {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__main {

            &_item {
                flex-wrap: wrap;
                text-align: center;
                justify-content: center;
                span {
                    width: 100%;
                    margin-top: 5px;
                    margin-left: 0;
                    
                }
            }
        }
    }
}