.RefTable {

    &__table {
        width: 100%;
        border-collapse: collapse;

        tr {

            th {
                color: rgba(255, 255, 255, 0.5);
                text-align: left;
                font-weight: 400;
                padding: 10px;
            }

            td {
                font-size: 24px;
                padding: 15px 10px;
                transition: all .2s ease;

            }
        }

        tr.RefTable__table_row {
            
            td {
                &:first-child {
                    border-radius: 10px 0 0 10px;
                }
                &:last-child {
                    border-radius: 0 10px 10px 0;
                }
            }


            transition: all .3s ease;
            &:hover {
                td {
                    background-color: var(--bg);
                }
            }
        }
    }
}