.RefTable {

    &__table {
        width: 100%;
        border-collapse: collapse;

        tr {

            th {
                color: rgba(255, 255, 255, 0.5);
                text-align: left;
                font-weight: 400;
                padding: 10px;
            }

            td {
                font-size: 24px;
                padding: 15px 10px;
                transition: all .2s ease;

                span {
                    display: none;
                }

            }
        }

        tr.RefTable__table_row {
            
            td {
                &:first-child {
                    border-radius: 10px 0 0 10px;
                }
                &:last-child {
                    border-radius: 0 10px 10px 0;
                }
            }


            transition: all .3s ease;
            &:hover {
                td {
                    background-color: var(--bg);
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .RefTable {
        &__table {

            tr {
                display: flex;
                flex-wrap: wrap;

                &:last-child {
                    td {
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
                th {
                    display: none;
                }

                td {
                    width: 100%;
                    background-color: var(--bg);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 16px;
                    line-height: 20px;
                    span {
                        width: 50%;
                        color: #fff;
                        opacity: .6;
                        font-size: 14px;
                        line-height: 17px;
                        display: block;
                    }

                    &:first-child {
                        border-radius: 10px 10px 0 0 !important;
                    }
                    &:last-child {
                        border-radius: 0 0 10px 10px !important;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}